@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --background: black;
  --line: black;
  --text: #b7b7b7;
  --holder: #101010;
}

[data-theme="light"] {
  --background: #f3f3f3;
  --text: #000000;
  --line: #e6e6e6;
  --holder: #e6e6e6;
}

.preview p:hover {
  background-color: rgba(179, 179, 179, 0.308);
  border-radius: 0.5rem;
}

html,
body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Bebas Neue", Arial;
  cursor: default;
}

.line {
  width: 100%;
  height: 8px;
  background-color: var(--holder);
  position: absolute;
  top: 50%;
  z-index: 2;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 1% 0 1%;
  transition: all 0.2s ease-out;
  transform: scale(0.7);
}

.holder {
  position: relative;
  transform: translateY(-12rem);
  width: 100%;
  margin: auto 1%;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.holder h1 {
  color: var(--text);
  font-size: clamp(30vw, 40vw, 50vw);
  margin: auto;
  text-align: center;
  font-weight: 100;
  transition: all 0.5s;
}

.holder h2 {
  position: absolute;
  top: 75%;
  color: var(--text);
  font-size: clamp(3vw, 4vw, 5vw);
  font-family: Arial;
  font-weight: bold;
  margin-left: 7%;
  text-align: left;
}

.holder h3 {
  position: absolute;
  top: 80%;
  font-size: 20px;
  color: var(--text);
  font-family: Arial;
  font-weight: bold;
  text-align: left;
}

.stats {
  position: absolute;
  scale: 0.8;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  transform: translateY(30rem);
}

.box {
  font-family: sans-serif;
  width: 100%;
  height: 200px;
  padding: 25px 20px;
  margin: 10px;
  border-radius: 30px;
  align-items: center;
  color: white;
  background-color: #1f1f1f;
}

.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.6;
  }
}
